# Foundry compiler output
out/
cache/
zkout/

# Ignore broadcast logs (but keep folder itself)
/broadcast/*/
/broadcast/**/dry-run/
/broadcast/**/31337/

# Keep empty folder structure
!/broadcast/
!/broadcast/.gitkeep

# Node + toolchain
node_modules/
package-lock.json

# Local secrets
.env
.env.*.local

# Misc
Makefile
verify.sh
loadFortunes.sh
loadFortunesBase.sh

# Editor/OS junk
.DS_Store
.vscode/
.idea/